
*.pdf

*.url

*.ps

*.eps

*.png

*.dta

*.smcl

Tex/Honors.synctex.gz
Tex/Honors.aux
Tex/Honors.dvi
Tex/Honors.log
Tex/Honors.run.xml
Tex/Honors.bbl

Analysis/Regressions/Output/loanStats\.tex

Analysis/Regressions/Output/raceStats\.tex

Analysis/Regressions/Output/
